.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    gap: 40px;
    width: 100%;
    padding: 120px 0;
    background-color: #f3f1f1;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 1170px;
    height: auto;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.title {
    text-align: center;
    font-size: 36px;
    color: #000000;
    font-weight: 500;
}

.resort img {
    height: 450px;
    width: auto;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    line-height: 1.6;
    font-size: 17px;
}

.text p {
    margin: 0;
}

@media (min-width: 1200px) and (max-width: 1365px) {

    .info {
        gap: 30px;
        padding: 100px 0;
    }

    .container {
        justify-content: center;
        width: 1000px;
        gap: 30px;
    }

    .resort img {
        height: 400px;
        width: auto;
    }

    .text {
        font-size: 16px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .info {
        gap: 30px;
        padding: 80px 0;
    }

    .container {
        flex-direction: column;
        width: 900px;
        gap: 30px;
    }

    .resort img {
        height: 400px;
        width: auto;
    }

    .title {
        font-size: 32px;
    }

    .text {
        box-sizing: border-box;
        padding: 0 60px;
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .info {
        gap: 30px;
        padding: 70px 0;
    }

    .container {
        flex-direction: column;
        width: 750px;
        gap: 30px;
    }

    .resort img {
        height: 350px;
        width: auto;
    }

    .title {
        font-size: 30px;
    }

    .text {
        box-sizing: border-box;
        padding: 0 60px;
        font-size: 15px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {

    .info {
        gap: 30px;
        padding: 50px 0;
    }
    .container {
        flex-direction: column;
        width: 600px;
        gap: 30px;
    }

    .resort img {
        height: 300px;
        width: auto;
    }

    .title {
        font-size: 26px;
    }

    .text {
        box-sizing: border-box;
        padding: 0 60px;
        font-size: 14px;
    }
}