.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 70px;
    width: 100%;
    padding: 100px 0 120px 0;

}

.services {
    display: flex;
    flex-direction: row;
    width: 1170px;
    height: auto;
    gap: 20px;
}
.title {
    font-size: 36px;
}

@media (min-width: 1200px) and (max-width: 1300px) {

    .head{
        padding: 80px 0 100px;
    }
    .services {
        width: 1100px;
    }

    .head {
        gap: 60px;
    }

    .title {
        font-size: 34px;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {

    .head{
        padding: 70px 0 90px;
    }

    .services {
        width: 950px;
        gap: 10px;
    }

    .head {
        gap: 50px;
    }

    .title {
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .head{
        padding: 60px 0 80px;
    }

    .services {
        flex-direction: column;
        width: 400px;
    }

    .head {
        gap: 40px;
    }

    .title {
        font-size: 28px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {

    .head{
        padding: 50px 0 70px;
    }

    .services {
        flex-direction: column;
        width: 400px;
    }

    .head {
        gap: 30px;
    }

    .title {
        font-size: 24px;
    }
}

